In [1]:
from pycaret.classification import *
from pycaret.datasets import get_data

data = get_data('iris')
#s = setup(data, target='species', session_id=42)
#print(s)

from pycaret.classification import ClassificationExperiment
exp = ClassificationExperiment()
print(type(exp))
exp.setup(data, target='species', session_id=123)

# compare
best = exp.compare_models()
display(best)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

<class 'pycaret.classification.oop.ClassificationExperiment'>

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,05:13:09
Status,. . . . . . . . . . . . . . . . . .,Fitting 10 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Processing:   0%|          | 0/61 [00:00<?, ?it/s]