### 1. 複数のプロット・マーカ等の変更
1. データ作成
```
import numpy as np
x = np.linspace(0, 10, 100)
y1 = np.sin(x)
y2 = np.cos(x)
y3 = np.tan(x)
```
2. 以下を実現してください
* 折れ線グラフで3種類の線を描画してください。
* マーカー・線の色・線のスタイル・ラベルをそれぞれ変えてプロットしてください。
* 凡例を表示してください。
* 画像サイズ(figsize)をデフォルトから変更してください。

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# データ作成
x = np.linspace(0, 10, 100)
y1 = np.sin(x)
y2 = np.cos(x)
y3 = np.tan(x)

# プロットの設定
plt.figure(figsize=(12, 8))  # 画像サイズを変更

# sin関数のプロット
plt.plot(x, y1, color='red', linestyle='-', marker='o', markersize=4, label='sin(x)')

# cos関数のプロット
plt.plot(x, y2, color='blue', linestyle='--', marker='s', markersize=4, label='cos(x)')

# tan関数のプロット
plt.plot(x, y3, color='green', linestyle=':', marker='^', markersize=4, label='tan(x)')

# グラフの設定
plt.title('Trigonometric Functions')
plt.xlabel('x')
plt.ylabel('y')
plt.grid(True)
plt.legend()

# y軸の範囲を制限（tanの発散を避けるため）
plt.ylim(-5, 5)

# グラフの表示
plt.show()

## 2. mergeで同じ列名がある場合＆pandasのデータ抽出

1. 以下のコードを実行します

```
import pandas as pd

# サンプルデータフレームの作成
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'score': [85, 92, 78, 95]
})

df2 = pd.DataFrame({
    'id': [2, 3, 4, 5],
    'name': ['Bob', 'Charlie', 'David', 'Eve'],
    'score': [88, 75, 91, 83]
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
```

2. そのままmergeするとname, score列名が被っているため想定外の列名になります。suffixesというパラメータでよりわかりやすい名前に変更してください。例えば、片方のスコアを数学, もう片方のスコアを英語と想定するとわかりやすいかもしれません。
3. 作成したdataframeからBobの点数を抽出してください。
4. 作成したdataframeからCharlieかつ点数が76点以上の行を抽出してください

In [1]:
import pandas as pd

# サンプルデータフレームの作成
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'score': [85, 92, 78, 95]
})

df2 = pd.DataFrame({
    'id': [2, 3, 4, 5],
    'name': ['Bob', 'Charlie', 'David', 'Eve'],
    'score': [88, 75, 91, 83]
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

# 2. suffixesパラメータを使用してマージ
merged_df = pd.merge(df1, df2, on='id', suffixes=('_df1', '_df2'))

print("\nMerged DataFrame:")
print(merged_df)

# 3. Bobの点数を抽出
bob_scores = merged_df[merged_df['name_df1'] == 'Bob'][['score_df1', 'score_df2']]
print("\nBob's scores:")
print(bob_scores)

# 4. Charlieかつ点数が76点以上の行を抽出
charlie_high_scores = merged_df[
    ((merged_df['name_df1'] == 'Charlie') | (merged_df['name_df2'] == 'Charlie')) &
    ((merged_df['score_df1'] > 76) | (merged_df['score_df2'] > 76))
]
print("\nCharlie's scores above 76:")
print(charlie_high_scores)

DataFrame 1:
   id     name  score
0   1    Alice     85
1   2      Bob     92
2   3  Charlie     78
3   4    David     95

DataFrame 2:
   id     name  score
0   2      Bob     88
1   3  Charlie     75
2   4    David     91
3   5      Eve     83

Merged DataFrame:
   id name_df1  score_df1 name_df2  score_df2
0   2      Bob         92      Bob         88
1   3  Charlie         78  Charlie         75
2   4    David         95    David         91

Bob's scores:
   score_df1  score_df2
0         92         88

Charlie's scores above 76:
   id name_df1  score_df1 name_df2  score_df2
1   3  Charlie         78  Charlie         75