## pivot_tableのmulti-index回避

In [4]:
# multi-indexをフラットにする方法
import pandas as pd

# サンプルデータを作成
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 200, 150, 250]
})

# pivot_tableを実行
pivoted = df.pivot_table(values='Sales', index='Date', columns='Product', aggfunc='sum')
display("現状だと以下のような扱いにくい形式")
display(pivoted)
display(f"cols:{pivoted.columns}")

# インデックスをリセット（pivot_tableの際に実行してもよい）
pivoted_flat = pivoted.reset_index()
display(pivoted_flat)

# CASE1: flat_indexの実行
flatted = pivoted_flat.copy()
# productをnoneへ
flatted.columns.name = None
flatted.columns = flatted.columns.to_flat_index()
display(f"flatted:")
display(flatted)


# CASE2: カラム名を平坦化
pivoted_flat.columns.name = None
pivoted_flat.columns = [f'{col[0]}_{col[1]}' if isinstance(col, tuple) else col for col in pivoted_flat.columns]

# 結果を表示
display(pivoted_flat)

'現状だと以下のような扱いにくい形式'

Product       A    B
Date
2023-01-01  100  200
2023-01-02  150  250

"cols:Index(['A', 'B'], dtype='object', name='Product')"

Product        Date    A    B
0        2023-01-01  100  200
1        2023-01-02  150  250

'flatted:'

         Date    A    B
0  2023-01-01  100  200
1  2023-01-02  150  250

         Date    A    B
0  2023-01-01  100  200
1  2023-01-02  150  250